body{
    background-color: rgb(6, 81, 202);
    margin: 0;
    padding: 0;
}

.header{
    display: flex;
}

.h1{
    margin: 0 auto;
}

h1{
    padding: 10px;
    color: white;
    font-size: 30px
}

#searchForm{
    margin-left: 60%;
    margin-top: 32px;
}

#searchInput{
    width: 150px;
    height: 30px;
    border: none;
    border-radius: 8px;
    background-color: rgb(176, 171, 171);
}

#submit{
    height: 30px;
    border: none;
    border-radius: 10px;
    background-color: rgb(176, 171, 171);
    cursor: pointer;
}


#submit:hover{
    background-color: rgb(207, 203, 203);
}

ul{
    display: flex;
    flex-wrap: wrap;
}

.li_class{
    background-color: white;
    width: 300px;
    height: 400px;
    margin: 30px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

h3{
    color: red;
    margin: 10px;
}

h2{
    color: black;
    margin: 10px;
}

.img_div_class{
    width: 300px;
    height: 100%;
}

img{
    width: 100%;
    border-radius: 10px 10px 0 0;
}
.li_class:hover{
    transform: scale(1.1);
}

.display_none{
    display: none;
    margin: -10px auto;
    background-color: aliceblue;
    width: 1200px;
    height: 600px;
    border-radius: 10px;
}


.flex{
    display: flex;
}

.flex h1,h3 {
    color: black;
}

.display_none img{
    width: 50%;
    border-radius: 10px 0 0 10px;
}

.ingredients{
    margin-top: 30px;
}

.ingredients ul{
    display: block;
}

.instructions p{
    max-width: 600px;
    line-height: 18px;
}

.text{
    padding: 10px;
    position: relative;
}



.text img{
    cursor: pointer;
    width: 40px;
    position: absolute;
    left: 550px;
}

.li_info{
    list-style: none;
}
